.dis-main {
    background-color: #b5b3b3b1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.dis-box {
    height: 210px;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
}

.dis-text {
    width: 400px;
    height: 100px;
    border-bottom: 2px solid #c6c0c058;
}

.dis-discard {
    width: 400px;
    height: 55px;
    border-bottom: 2px solid #c6c0c058;

}

.dis-cancel {
    width: 400px;
    height: 55px;

}