.discover-p_m {
  margin: auto;
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.discover-box {
  height: 100%;
  width: 800px;
  /* border: 2px solid black; */
}
@media screen and (max-width: 500px) {
  .discover-p_m {
    padding: 80px 10px;
  }
}

.discover-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  font-size: 24px;
  font-weight: 500;
}
.discover-border {
  height: 0.5px;
  width: 100%;
  background-color: #000;
}
.discover-border__ {
  border: 1px solid #000;
  min-height: 600px;
  max-height: 800px;
  overflow: scroll;
}
.discover-border-gray {
  height: 0.5px;
  width: 100%;
  background-color: #ddd;
}
.discover-uv {
  margin: 0px 20px;
}
.discover-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.segmented-control {
  display: table;
  width: 100%;
  padding: 0;
}

.segmented-control__item {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.segmented-control__input {
  position: absolute;
  visibility: hidden;
}

.segmented-control__label {
  display: block;
  margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
  padding: 1em 0.25em;
  font: 14px/1.5 sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.segmented-control__input:checked + .segmented-control__label {
  border-bottom: 3px solid #000;
  color: #333;
}

.discover-search-bar {
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
.discover-search-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.discover-filter {
  border: 1px solid #ddd;
  height: 45px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  border: none;
  height: 23px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.search-box:focus {
  outline: none;
}
.search-box::placeholder {
  color: #979797;
  font-size: 15px;
  font-weight: 500;
}
.discover-follow-list-box {
  margin: 30px 20px;
  border: 1px solid #ddd;
}
.discover-follow-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.discover-follow-list-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-size {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 60px;
}
@media (max-width: 700px) {
  .user_name {
    font-size: 5vw;
    font-weight: 400;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.user_name {
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-follow {
  padding: 1.5% 5%;
  background-color: #000;
  color: white;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.discover-video-list-box {
  margin: 30px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  /* display: grid;
  border-radius: 5px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 250px 250px 250px;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center; */
}
.discover-video {
  height: 300px;
  width: 170px;
  background-color: #000;
  border-radius: 20px;
  margin: 5px auto;
}

/* ======================================================================= */

.messages_flex {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.messages_user_name {
  width: 100%;
  text-align: center;
}
.messages_name_text {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
