.followers-main {
  background-color: rgba(128, 128, 128, 0.576);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */  
}

.followers-card {
  height: 500px;
  min-width: 250px;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;
  margin-top: 100px;
}

.followers-heading {
  /* background-color:cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c6c0c058;
  /* width: 400px; */
}

.followers-component {  
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #c6c0c058;
  justify-content: space-between;
}

.followers-row1 {  
  width: max-content;
  display: flex;
  align-items: center;
}

.followers-row2 {  
  display: flex;
  align-items: center;
}
