.notification-font {
  color: orange;
  font-size: 14px;
  font-weight: 400;
  margin-top: -6px;
}
.notification-font_ {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  margin-top: -6px;
}
.notification-btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.notification-btn:hover {
  background-color: white;
}
.notification-right {
  padding: 8px 20px;
  background-color: #000;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.notification-close {
  cursor: pointer;
  padding: 8px 20px;
  background-color: #ff5a60;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}
.notification-time-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.notification-follow-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.notification-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.notification-follow-list-box {
  border-bottom: 1px solid #ddd;
  margin: 20px 0px;
}
