.pcwd-main {
  width: 200px;
  height: 250px;
  border-radius: 8px;
}
.pcwd-content {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pcwd-img {
  width: 200px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}
.pcwd-user-dp-div {
  width: 180px;
  height: 50px;
  margin-top: -50px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.pcw-user-name-div {
  width: 145px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}
.pcw-user-name-span {
  color: aliceblue;
  font-size: 15px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
}
.pcw-user-date-span {
  color: aliceblue;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
.eye_bMark_icon {
  background-color: rgba(0, 0, 0, 0.05);
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
