.uap-box {
  height: 750px;
  width: 80%;
  background-color: #fff;
  display: flex;
}

.uap-img {
  height: 750px;
  width: 400px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.uap-box-comm {
  height: 100%;
  width: 100%;
}

.uap-comm-head {
  height: 50px;
  border-bottom: 2px solid #c6c0c058;
  /* background-color:aqua; */
}

.uap-comm-ic {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  padding: 0px 20px;
}
.comment_header {
  display: flex;
}
.uap-re-ic {
  cursor: pointer;
}
.uap-re-ic:hover {
  cursor: pointer;
  color: red;
}
.uap-ti {
  height: auto;
  width: 100%;
  background-color: grey;
}

.uap-comm-comments {
  min-height: 100px;
  max-height: 500px;
  width: 100%;
  overflow: scroll;
  border-bottom: 2px solid #c6c0c058;
}

.uap-show-comm {
  flex-wrap: wrap;
  padding: 10px;
  /* width: 90%; */
}

.uap-s-c {
  width: 100%;
  padding-left: 15px;
  /* background-color: rgb(168, 123, 123); */
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  /* justify-content:flex-end */
  /* align-items: ; */
}

.uap-c-n {
  width: 100%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  /* background-color: rgb(4, 195, 49); */
}

.uap-show-comm:hover {
  background-color: rgba(128, 128, 128, 0.185);
}

.uap-time {
  font-size: 0.7rem;
  color: #c6c0c0;
  /* color: #c6c0c0; */
  font-weight: 700;
  display: flex;
  width: 100%;
  /* background-color:red; */
  /* text-align: right;
     */
  justify-content: flex-end;
}

.uap-sh-t {
  width: 100%;
}

.uap-sh-card {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* background-color:cyan; */
}

.uap-comm-foot {
  display: flex;
  align-items: center;
  /* background-color: #c6c0c0; */
  height: 41px;
}

.uap-post-like {
  display: flex;
  /* justify-content: center
    ; */
  align-items: center;
  width: 100%;
  height: 40px;
  /* background-color: #c6c0c0; */
  padding-left: 20px;
}

.uap-post-book {
  /* background-color: #bf1414; */
  width: 50px;
}

.uap-text-num {
  width: 240px;
  color: #c6c0c0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cyan; */
}

.uap-date {
  font-size: 1rem;
  color: #c6c0c0;
  font-weight: 700;
}

.uap-date:hover {
  color: #000;
}

.uap-p-like {
  /* background-color:rgb(57, 21, 187); */
  width: 100px;
  color: #000;
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.uap-comm-li {
  /* background-color:red; */
  display: flex;
  border-bottom: 2px solid #c6c0c058;
}

.uap-comm-set-comm {
  /* height: 90px; */
  padding-left: 10px;
  /* object-fit:cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:red; */
  margin-top: 10px;
}

.uap-inp-cap {
  width: 420px;
  /* background-color:grey; */
  height: 130px;
  /* max-height: 100px; */
  /* height: auto; */
  border: none;
  overflow-y: scroll;
  font-size: 1rem;
}

.uap-p {
  display: flex;
  /* background-color:blueviolet; */
  width: 50px;
  color: cornflowerblue;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  cursor: pointer;
}

.uap-inp-cap:focus {
  outline: none;
}
