.home-img {
  background-color: rgba(0, 0, 0, 0.1);
}
.Home-bg-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.social-icon {
  height: 25px;
  width: 25px;
  margin: 15px;
}
.social-media-icon {
  position: fixed;
  top: 50%;
  left: 35px;
}
.home-card {
    position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
