/* .header {
  position: relative;
} */
.navbar--hidden {
  top: -75px;
}
.navbar {
  width: 100vw;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.089);
  color: var(--text-color);
  font-weight: var(--text-weight-700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #515179;
  position: fixed;
  transition: 0.3s linear;
  z-index: 40;
}
.navbar-hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}

.logo-img {
  min-width: 70px;
  max-width: 110px;
  object-fit: contain;
  position: relative;
  animation: logo 5s 2;
  animation-direction: alternate;
}
.navbar-menu {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  position: relative;
  animation: menu 5s 2;
  animation-direction: alternate;
}

@keyframes menu {
  0% {
    right: 0px;
    top: 0px;
  }
  25% {
    right: 150px;
    top: 0px;
  }
  50% {
    right: 150px;
    top: 0px;
  }
  75% {
    right: 150px;
    top: 0px;
  }
  100% {
    right: 150px;
    top: 0px;
  }
}

@keyframes logo {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  75% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 200px;
    top: 0px;
  }
}
