.home-main {
  width: 100vw;
  min-height: 90vh;
  max-height: auto;
  overflow-y: scroll;
  padding-top: 50px;
}
@media screen and (max-width: 425px) {
  .home-card {
    background-color: #fff;
    height: fit-content;
    max-width: 380px;
    border: 2px solid #c6c0c058;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 375px) {
  .home-card {
    background-color: #fff;
    height: fit-content;
    max-width: 340px;
    border: 2px solid #c6c0c058;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  .home-card {
    background-color: #fff;
    height: fit-content;
    max-width: 300px;
    border: 2px solid #c6c0c058;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
.home-card {
  background-color: #fff;
  width: 500px;
  border: 2px solid #c6c0c058;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 10px;
}

.home-userpro {
  height: 60px;
  border-bottom: 2px solid #c6c0c058;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-pro-icon {
  height: 50px;
  width: 50px;
  border-radius: 120px;
}

.home-user-nm {
  width: 340px;
  height: 50px;
  align-items: center;
  display: flex;
  font-size: 130%;
  cursor: pointer;
}

.home-user-info {
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

.home-img {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  object-fit: cover;
}

.pause-v {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #c6c6c686;
  cursor: pointer;
  z-index: 1;
}
.play-v {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #c6c6c686;
  cursor: pointer;
  z-index: 1;
}
.on-v {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #c6c6c686;
  cursor: pointer;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
}
.off-v {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #c6c6c686;
  cursor: pointer;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
}
.big-like {
  opacity: 0;
  transform: scale(0);
}

.big-like {
  animation-duration: 1000ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.post-img {
  min-width: auto;
  max-width: 500px;
  cursor: pointer;
  object-fit: contain;
}

.ic {
  height: 25px;
  width: 25px;
  object-fit: contain;
  margin-right: 15px;
  cursor: pointer;
}
.ic-1 {
  font-size: 2rem;
  margin-right: 10px;
}
.ic-liked {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}
.home-post-like {
  display: flex;
  align-items: center;
}

.home-comm-section {
  height: 45px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-post-comment {
  max-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.p-likes {
  /* max-height: 20px; */
  /* padding-left: 10px; */
  width: max-content;
  padding: 0px 0 5px 10px;
}
.p-desc {
  padding-left: 100px;
  height: 100%;
  font-size: 1.1rem;
  padding: 10px 10px 0px 10px;
  border-top: 2px solid #c6c0c058;
  border-radius: 0 0 10px 10px;
  /* padding-bottom: 5px; */
}

.read-more-less--more,
.read-more-less--less {
  color: #999;
}
::-webkit-scrollbar {
  width: 0;
}
