.box-cp {
  border: 1px solid;
  width: 500px;
  height: 500px;
 
}

.cp-insta-logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-logo {
  width: 80px;
  height: 80px;
}
.logo {
  width: 250px;
  margin-top: 10px;
}
.cp-heading-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 85px;
}

.cp-text-heading {
 
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  font-size: 1.4rem;
}
.cp-text-heading {

  text-align: center;
  font-weight: 600;
  margin-top: 0;
  font-size: 1.4rem;
}
.cp-text {
 
  text-align: center;
  width: 370px;
  font-size: 15px;
  color: rgba(171, 171, 171, 0.95);
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  
}
.cp-inp {
  height: 265px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.u-inp,
.p-inp {
  width: 320px;
  font-size: 1rem;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #f6f6f6;
}

.u-inp:focus,
.p-inp:focus {
  outline: none;
}

.btn-cp {
  width: 325px;
  height: 30px;
  background-color: #a0a0a0;
  border-radius: 5px;
  border: 0;
  color: #f0ffff;
  font-weight: 800;
  cursor: pointer;
}
.btn-cp-ac {
  width: 325px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #000000;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
.btn-cp:focus {
  outline: none;
}
.cp-fp-span {
  cursor: pointer;
}
.cp-forgot-psw {
 
  width: 325px;
  height: 60px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cp-error-box {
  color: rgb(255, 0, 0);
  margin-bottom: 710px;
  position: absolute;
  border: 1px solid;
  margin-top: 20px;
  width: 600px;
  text-align: center;
}
.cp-under-box {
  border: 1px solid;
  margin-top: 20px;
  width: 500px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .box-cp {
    border: none;
  }
  .cp-under-box {
    border: 1px solid;
    margin-top: 20px;
    width: 320px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
