@media (prefers-color-scheme: light) {
  :root {
    --navbar-bg-color: #fff;
    --text-color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --navbar-bg-color: #1e1e2d;
    --text-color: #fff;
  }
}

:root {
  --text-weight-300: 300;
  --text-weight-400: 400;
  --text-weight-500: 500;
  --text-weight-600: 600;
  --text-weight-700: 700;
  --text-weight-800: 800;
}
